<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" />
        <script src="https://cdn.jsdelivr.net/pyodide/v0.18.1/full/pyodide.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/codecolors.css"/>
        <link rel="stylesheet" href="/static/css/codemirrorcolors.css"/>
        <!-- <link rel="stylesheet" href="https://unpkg.com/codemirror-github-light/lib/codemirror-github-light-theme.css"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <section class="code-container">
            <button class="back-button" onclick="changePage('signin')">
                <i class="fa fa-chevron-left"></i>
                <span style="font-size: 18px; font-weight: 600;">Back</span>
            </button>
            <h1 id="lesson-title">Poop</h1>
            <h3 id="unit-title">Poop</h3>
            <div class="progress-container">
                <div id="lesson-progressbar" class="progress-fill"></div>
            </div>
            <div class="lesson-main">
                <div class="lesson-header">
                    <div class="lesson-text" id="sec-text">
                        <span id="btn-span">
                            <br>
                            <button style="flex: none; width: fit-content; height: fit-content; font-size: 16px; float: right;" onclick="nextSection()">
                                Next
                            </button>
                        </span>
                        <br id="btn-break">
                    </div> 
                </div>

                <div class="activity-box hidden">

                    <div class="instructions hidden">
                        <button onclick="giveHint()" id="hint" class="hint">Hint</button>
                        <label style="border-top-right-radius: 10px; border-top-left-radius: 10px;"><b>Try it!</b>
                            <span id="directions">Nothing</span>
                        </label> 
                    </div>
                    <div class="mini-editor hidden">
                        <div class="right">
                            <textarea id="code"></textarea>
                            <div class="code-overlay"></div>
                            <div style="display: flex; flex-direction: row; width: 100%">
                                <button id="runcode" onclick="runCode()" style="flex: 1; border-radius: 0px; border-bottom-left-radius: 10px;">Run</button>
                                <button id="submitcode" onclick="checkAnswerCode()" style="flex: 1; border-radius: 0px; background-color: var(--orange);">Submit</button>
                            </div>
                        </div>
                        <div class="left">
                            <textarea readonly="true" id="output" style="font-family: courier, monospace;"></textarea>
                        </div>
                    </div>


                    <div class="quiz-question hidden">
                        <label style="display: inline-block; border-top-left-radius: 10px; border-top-right-radius: 10px;"><b>Try it!</b>
                            <span id="directions">Question 1 out of 4: blah blah blah blah</span>
                        </label> 
                    </div>
                    <div class="quiz hidden">
                        <div class="buttons">
                            <button style="background-color: #ff7675; font-weight: 800">1</button>
                            <button style="background-color: #fdcb6e; font-weight: 800">2</button>
                            <button style="background-color: #00b894; font-weight: 800">3</button>
                            <button style="background-color: #a29bfe; font-weight: 800">4</button>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
            integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
            integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/lesson.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>