<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" />
        <script src="https://cdn.jsdelivr.net/pyodide/v0.18.1/full/pyodide.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    </head>
    <body style="background-color: var(--light-blue)">
        <div class="signin-container">

            <div class="signup">
                <div style="flex: 0.2">
                    <h1>Sign Up</h1>
                    <h3>New? Register for an account:</h3>
                </div>
                <br>
                <form action="{{ url_for('su_handle_data') }}" method="post" class="input-fields">
                    <label for="email">Email:</label>
                    <input type="email" name="email">
                    <label for="password">Password:</label> <span><i class="bi bi-eye"></i></span>
                    <input type="password" name="password">
                    <label for="conf_password">Confirm Password:</label> <span><i class="bi bi-eye"></i></span>
                    <input type="password" name="conf_password">
                    <br>
                    <div class="error-message" id="error-message-su">
                        {% with messages = get_flashed_messages(category_filter=["signup"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <br>
                    <button type="submit" name="register">Register</button>
                </form>
            </div>
            <div class="vl"></div>
            <div class="login">
                <div style="flex: 0.2">
                    <h1>Login</h1>
                    <h3>Welcome back returning users!</h3>
                </div>
                <br>
                <form action="{{ url_for('lg_handle_data') }}" method="post" class="input-fields">
                    <label for="username">Username:</label>
                    <input type="text" name="username">
                    <label for="password_log">Password:</label>
                    <input type="password" name="password_log"> <span><i class="bi bi-eye"></i></span>
                    <div class="error-message" id="error-message-lg">
                        {% with messages = get_flashed_messages(category_filter=["login"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <br>
                    <button type="submit" name="login">Login</button>
                </form>
                
            </div>
        </div>
        <script src="/static/js/signin.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>